body {
    font-family:sans-serif;
}

table {
  margin-right:auto;
  margin-left:auto;
  margin-top:2%;
  margin-bottom:2%;
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 3px solid black;
}

form {
  width:80%;
  margin:auto;
  horizontal-align:center;
}


input {
  width: 50%;
  margin:auto;
  box-sizing: border-box;
}

.submit {
  width:20%;
  margin:5%
}

.noproperties {
  margin:40px
}

.selectorsubmit{
  width:20%
}

.selector{
  width:20%
}

select {
  width:50%
}


div {
  margin:2%
}

h1 {
  width:75%;
  text-align:center;
  margin:auto
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

