{% extends "bootstrap/base.html" %}

{% block body %}
<div class="content">
    <div class="container">
    <h1> Arcane Real Estate </h1>
        <form action="/" class="form-signin" method="GET" name="selector">
            <select name = "city" class="form-control" >
                <option value="" SELECTED>--Please select a city--</option>
                {% for city in cities %}
                    <option value= "{{city}}" >{{ city }}</option>"
                {% endfor %}
            </select> <br/>
        <button class="btn btn-lg btn-primary " type="submit">Select city</button>
        </form>
    </select>
    </div>
    {% if properties|length<1 and cities|length<1 %}
        <div class="container"> <h1>There are no properties in the database, you can create one below</h1>
                </div>
    {% elif properties|length<1 and cities|length>0 %}
        <div class="container"> <h1> Please select a city </h1>
                </div>

    {% else %}
    <div class="container">
            <table class="table" >
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Description  </th>
                    <th scope="col"> Number of rooms </th>
                    <th scope="col"> Landlord  </th>
                    <th scope="col"> City  </th>
                    <th scope="col"> Actions </th>
                </tr>
                {%for property in properties%}
                    <tr>
                        <td scope="row"> {{property.name}}</td>
                        <td> {{property.description}} </td>
                        <td> {{property.rooms}} </td>
                        <td> {{property.landlord}} </td>
                        <td> {{property.city}} </td>
                        <td>
                            <a href="/delete/{{property.id}}"> Delete</a>
                            <br/>
                            <a href="/update/{{property.id}}"> Update</a>
                        </td>
                    </tr>
        {% endfor  %}
    </table>
    </div>

    {% endif  %}
    <div class="container">
    <form action="/" class="form-signin" method="POST">
        <input type = "text" class = "form-control" placeholder="Name of property" name="name" id="name"><br/>
        <input type = "text" name="description" id="description" class = "form-control" placeholder="Description"><br/>
        <input type = "number" name="rooms" id="rooms"class = "form-control" placeholder="Number of rooms"><br/>
        <input type = "text" name="landlord"id="landlord" class = "form-control" placeholder="Landlord"><br/>
        <input type = "text" name="city" id="city" class = "form-control" placeholder="City" ><br/>
        <button class="btn btn-lg btn-primary " type="submit">Add property</button>
    </form>
    </div>
</div>
{% endblock %}

